*{
  box-sizing: border-box;
}

.flex{
  display: flex;
}

header{
  background-color: aliceblue;
  padding-bottom: 60px;
  border-bottom: 1px solid rgb(10, 1, 39);
}

.img__cont img {
  width: 80px;
  height: 50px;
}

nav{
  background-color: rgb(25, 6, 129);
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 70px;
}

a{
  color: white;
}

.title{
  padding: 30px;
  color: rgb(10, 1, 39);
  font-weight: 400;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
  text-align: center;
}

.title__explanation{
  color: rgb(10, 1, 39);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 20px 20px 0 20px;
}

main{
  background-color: aliceblue;
  padding: 40px;
}

.media__container img, .media__container iframe{
  height: 400px;
  width: 600px;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1{
  margin: 40px 0 20px 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(10, 1, 39);
}

h3,label,button{
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(10, 1, 39);
}

button{
  background-color: rgb(25, 6, 129);
  color: aliceblue;
}

.img__explanation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

footer{
  display: flex;
  background-color: rgb(25, 6, 129);
  color: white;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@media screen and (max-width: 450px){
  .title,h1{
    font-size: 25px;
  }
  
  .title__explanation,.img__explanation,label,button{
    font-size: 15px;
  }

.media__container img, .media__container iframe{
    height: 200px;
    width: 270px;
  }
}